<?php
$title = 'Add worker';
$this->headTitle($title);

?>


    <h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('warehouse', array('action' => 'add-worker')));
$form->prepare();

echo $this->form()->openTag($form);
?>
    <div class="form-element">

        <?php
        echo $this->formRow($form->get('name'));
        ?>
    </div>

    <div class="form-element">

        <?php
        echo $this->formSubmit($form->get('submit'));
        ?>
    </div>
<?php
echo $this->form()->closeTag();