<?php
$title = 'Add new product';
$this->headTitle($title);

?>


    <h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('warehouse', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
?>
    <div class="form-element">
        <?php $fileElement = $form->get('file'); ?>
        <?php echo $this->formLabel($fileElement); ?>
        <?php echo $this->formFile($fileElement); ?>
        <?php echo $this->formElementErrors($fileElement); ?>
        <?php
        echo $this->formHidden($form->get('id'));
        ?>

        <?php
        echo $this->formRow($form->get('employee_id'));
        ?>
    </div>
    <div class="form-element">
        <?php
        echo $this->formRow($form->get('category_id'));
        ?>
    </div>
    <div class="form-element">

        <?php
        echo $this->formRow($form->get('name'));
        ?>
    </div>
    <div class="form-element">

        <?php
        echo $this->formRow($form->get('price'));
        ?>
    </div>
    <div class="form-element">

        <?php
        echo $this->formRow($form->get('description'));
        ?>
    </div>
    <div class="form-element">


    </div>
    <div class="form-element">

        <?php
        echo $this->formSubmit($form->get('submit'));
        ?>
    </div>
<?php
echo $this->form()->closeTag();