<?php

use Warehouse\Model\Warehouse;




//print_r($products);


$title = 'My products';
$this->headTitle($title);

//print_r($allCategories);
?>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
function showSelect(id) {
    $('#category'+id).css('display','block');
    $('#categoryButton'+id).css('display','block');
    $('#span'+id).css('display','none');
}

    function changeCategory(id) {
        var selectedCategories = [];
        $('#category'+id+' :selected').each(function(i, selected){
            selectedCategories[i] = $(selected).val();
            //alert(selectedCategories[i]);
        });

        $.ajax({
            type: "POST",
            url: "warehouse/ajax",
            data: {selectedCategories : selectedCategories, productID : id},
            success: function(data) {
                location.reload();
            }
        });

        $('#category'+id).css('display','none');
        $('#categoryButton'+id).css('display','none');
        $('#span'+id).css('display','block');
    }
</script>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('warehouse', array('action'=>'add'));?>">Add new product</a>
    <a href="<?php echo $this->url('warehouse', array('action'=>'addWorker'));?>">Add new worker</a>
    <a href="<?php echo $this->url('warehouse', array('action'=>'workerView'));?>">Manage workers</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Employee</th>
        <th>Categories</th>
        <th>Picture</th>
        <th></th>
    </tr>
    <?php foreach ($products as $product) : ?>
        <tr>
            <td><?php echo $product['product_name'];?></td>
            <td><?php echo $product['price'];?></td>
            <td><?php echo $product['description'];?></td>
            <td><?php echo $product['employee_name'];?></td>

            <td><span id="span<?php echo $product['id']; ?>" onclick="showSelect(<?php echo $product['id']; ?>);"><?php
                $category ='';
                if(isset($sortedCategories[$product['id']])) {
                    foreach ($sortedCategories[$product['id']] as $categoryName) {
                        $category .= $categoryName . ', ';
                    }
                }
                echo preg_replace('/, $/','',$category);
                ?></span>
            <select id="category<?php echo $product['id']; ?>" style="display: none" class="form-control" multiple="multiple">
                <?php foreach($allCategories as $categoryName){
                    ?>
                <option value="<?php echo $categoryName['id']; ?>" <?php if(preg_match('/'.$categoryName['name'].'/',$category)){echo 'selected';} ?>>
                    <?php echo  $categoryName['name']; ?>
                </option>
                <?php
                } ?>
            </select>
                <button id="categoryButton<?php echo $product['id']; ?>" style="display: none" onclick="changeCategory(<?php echo $product['id']; ?>)" class="btn btn-primary">Change</button>
            </td>
            <td>
                <?php

                if($product['picture_path']) { ?>
                    <img alt="<?php echo $product['picture_path']; ?>" src="<?php echo getcwd() . '/public/img/' . $product['picture_path']; ?>">
                    <?php
                }
                //echo $product['picture_path'];?>
            </td>
            <td>
                <a href="<?php echo $this->url('warehouse',
                    array('action'=>'edit', 'id' => $product['id']));?>">Edit</a>
                <a href="<?php echo $this->url('warehouse',
                    array('action'=>'delete', 'id' => $product['id']));?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>