<?php
$title = 'Manage workers';
$this->headTitle($title);

?>


    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <table class="table table-striped">
<?php

foreach ($workers as $id => $name) {
    ?>

    <tr>
        <td><?php echo $name; ?></td>
        <td><a href="<?php echo $this->url('warehouse',
                array('action'=>'delete-worker', 'id' => $id));?>">Delete</a></td>
    </tr>

<?php
}
?>
    </table>




